<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flaggen Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <f:for each="{Balls}" as="ball">
        <p>Name: {ball.name}</p>
        <p>Durchmesser: {ball.durchmesser}</p>
        <p>Material: {ball.material}</p>
    </f:for>
</body>
</html>